// 正文字体的大小
$font-size-base = 16px

// 代码字体的大小
$code-font-size = 14px

$main-desktop  = 1100px
$content-desktop = calc(100% - 252px)

@media (max-width: 767px) {
  .main {
    .content-wrap {
        padding: 10px;
    }
    .posts-expand {
        margin: 0 10px;
    }
  }
}